*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #ece0c6;

}
.main{
    background: #baac9f;
    width: 480px;
    height: 480px;
    margin: 100px auto 0px auto;
}
.main span{
    background: #ccc0b2;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    display: inline-block;

    font-size: 20px;
    text-align: center;
}